<div class="col-sm-4 col-sm-offset-4">
	<div class="well">
		<h3>Login</h3>
		<form>
			<div class="form-group">
		    	<input type="email" class="form-control" placeholder="Email" ng-model="auth.email">
		  	</div>
		  	<div class="form-group">
		    	<input type="password" class="form-control" placeholder="Password" ng-model="auth.password">
		  	</div>
		  	<div class="form-group">
		    	<div class="radio">
		    	  <label>
		    	    <input type="radio" ng-model="auth.guard" value="user">
		    	    User
		    	  </label>
		    	</div>
		    	<div class="radio">
		    	  <label>
		    	    <input type="radio" ng-model="auth.guard" value="member">
		    	    Member
		    	  </label>
		    	</div>
		  	</div>
		  	<button class="btn btn-primary" ng-click="auth.login()">Submit</button>
		</form>
	</div>
</div>